@import "custom";

body {
	background-color: rgb(211, 211, 211);
}

.bet-slip-dropdown-menu {
	width: 40rem;
}

.nav-bar {
	background-color: black;
}

.dropdown-footer {
	justify-content: space-between;
	display: flex;
}

.dropdown-item {
}
